@model ToyWebsite.Models.User

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@if (TempData["errorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissable" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        @TempData["errorMessage"]
    </div>
}

@using (Html.BeginForm("AddUser","Account",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.userName, "*", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.PasswordFor(model => model.userPassword, new { @class = "form-control" })
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.userPassword, "*", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.PasswordFor(model => model.userConfirmPassword, new { @class = "form-control" })
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.userConfirmPassword, "*", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.userEmail, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.userEmail, "*", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

